{% extends 'base.html.twig' %}

{% block title %}Edit ExaminationWithResults{% endblock %}

{% block body %}
    <h1>Edit ExaminationWithResults</h1>

    {{ include('examination_wr/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
