{% extends 'base.html.twig' %}

{% block title %}New ExaminationWithResults{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Assign an examination</h1>

        <div class="row justify-content-center">
            <div class="col-md-8">
                {{ include('examination_wr/_form.html.twig') }}

                <div class="row mt-3 justify-content-left">
                    <div class="col-auto">
                        <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}" class="btn btn-secondary">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
