{% extends 'base.html.twig' %}

{% block title %}New AsignedDrugs{% endblock %}

{% block body %}

    <h1>Assign a Drug</h1>

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ include('asigned_drugs/_form.html.twig') }}

    <a href="{{ path('app_appointment_edit',{'id': appointment.id}) }}">back</a>
{% endblock %}
