<form method="post" action="{{ path('app_drug_warehouse_delete', {'id': drug_warehouse.id}) }}" onsubmit="return confirm('Ar tikrai norite ištrinti šį įrašą?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ drug_warehouse.id) }}">
    <button class="btn">Ištrinti</button>
</form>
