{% extends 'base.html.twig' %}

{% block title %}Edit Examination{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-left">Redaguoti tyrimą</h1>

                {{ include('examination/_form.html.twig', {'button_label': 'Atnaujinti'}) }}

                <div class="row justify-content-left mt-3">
                    <div class="col-auto">
                        <button type="button" class="btn btn-secondary" onclick="window.history.back();">Atgal</button>
                    </div>
                </div>

                <div class="row justify-content-left mt-3">
                    <div class="col-auto">
                        {{ include('examination/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
