{% extends 'base.html.twig' %}

{% block title %}Create New Examination{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-left">Create New Examination</h1>

                {{ include('examination/_form.html.twig') }}

                <div class="row justify-content-left mt-3">
                    <div class="col-auto">
                        <a href="{{ path('app_examination_index') }}" class="btn btn-secondary">Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
