{% extends 'base.html.twig' %}

{% block title %}Examination{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Tyrimo informacija</h1>
        <div class="card p-4 shadow">
            <table class="table mb-0">
                <tbody>
                <tr>
                    <th>Shortcut</th>
                    <td>{{ examination.shortcut }}</td>
                </tr>
                <tr>
                    <th>Examination Name</th>
                    <td>{{ examination.examinationName }}</td>
                </tr>
                <tr>
                    <th>Norms</th>
                    <td>{{ examination.norms }}</td>
                </tr>
                <tr>
                    <th>Machine</th>
                    <td>{{ examination.machine }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-secondary mt-3" onclick="window.history.back();">Atgal</button>
    </div>
{% endblock %}
